<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.dev.bkk.ncd" >

    <application
        android:name=".application.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_hospital_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/personal_information"
            android:theme="@style/Question.Theme" >
        </activity>
        <activity
            android:name=".SelectYesActivity"
            android:label="@string/title_activity_select_yes" >
        </activity>
        <activity
            android:name=".UserAgreeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuButtonActivity"
            android:label="@string/title_activity_menu_button" >
        </activity>
        <activity
            android:name=".ScreenAge14to34YearsActivity"
            android:label="@string/title_activity_screen_age14to34_years" >
        </activity>
        <activity
            android:name=".ScreenAge35YearsUpActivity"
            android:label="@string/title_activity_screen_age35_years_up" >
        </activity>
        <activity
            android:name=".ResultActivity"
            android:label="@string/title_activity_result" >
        </activity>
        <activity
            android:name=".ResultNotRiskActivity"
            android:label="@string/title_activity_result_not_risk" >
        </activity>
        <activity
            android:name=".ResultRiskActivity"
            android:label="@string/title_activity_result_risk" >
        </activity>
        <activity
            android:name=".Select14to34Or35up"
            android:label="@string/title_activity_select14to34_or35up" >
        </activity>
        <activity
            android:name=".hypertension.ScreenHypertension"
            android:label="@string/title_activity_screen_hypertension" >
        </activity>
        <activity
            android:name=".hypertension.QuestionOne"
            android:label="@string/title_activity_question_one"
            android:theme="@style/Question.Theme">
        </activity>
        <activity
            android:name=".hypertension.QuestionTwo"
            android:label="@string/title_activity_question_two"
            android:theme="@style/Question.Theme">
        </activity>
        <activity
            android:name=".hypertension.QuestionFour"
            android:label="@string/title_activity_question_four" >
        </activity>
        <activity
            android:name=".hypertension.QuestionFive"
            android:label="@string/title_activity_question_five" >
        </activity>
        <activity
            android:name=".hypertension.QuestionSix"
            android:label="@string/title_activity_question_six" >
        </activity>
        <activity
            android:name=".hypertension.QuestionSeven"
            android:label="@string/title_activity_question_seven" >
        </activity>
        <activity
            android:name=".hypertension.QuestionEight"
            android:label="@string/title_activity_question_eight" >
        </activity>
        <activity
            android:name=".hypertension.QuestionThree"
            android:label="@string/title_activity_question_three" >
        </activity>
    </application>

</manifest>
